---
import Style from './style.module.css'
---
<section class={Style.sec_form}>
    <form action="" class={Style.form}>
        <input type="text" placeholder="correo">
        <input type="text" placeholder="descricion" class={Style.inp_des}>
        <button>enviar</button>
    </form>
</section>