---
import Style from "./style.module.css";
---

<h2>#proyectos</h2>
<section class={Style.sec}>
  <a href="https://vitepoke.vercel.app" target="_blank">
    <article>
      <h3>Vitepoke</h3>
      <img src="/img/proyect/vitepoke.png" alt="" />
      <p>En esta pagina puedes ver todos los pokemones , esta echa con</p>
      <section>
        <p>Creado en : 04/2025</p>
      </section>
    </article>
  </a>
</section>
