---
import Style from "./style.module.css";
---

<div class={Style.proyect}>
  <h2>proyectos</h2>
  <section>
    <a href="https://vitepoke.vercel.app" target="_blank">
      <article>
        <img src="/img/proyect/vitepoke.png" alt="" />
      </article>
    </a>
    <a href="https://ticklyl.vercel.app/" target="_blank">
      <article>
        <img src="/img/proyect/ticklyl.png" alt="" />
      </article>
    </a>
  </section>
</div>
