.proyect {
  height: 60dvh;
  & h2 {
    font-size: 35px;
  }

  & section {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    & a {
      color: #000;
      text-decoration: none;
      margin-left: 20px;
      & article {
        border-radius: 12px;
        padding: 2px;
        & img {
          height: 60px;
          width: 380px;
          border-radius: 4px;
          box-shadow: 2px 2px 15px 2px #ddd;
        }
      }
    }
  }
}

@media (width < 800px) {
  .sec {
    overflow: scroll;
    width: 100vw;
    gap: 8px;

    & article {
      width: 300px;
    }
  }
}
