.proyect {
  height: 100dvh;
  & section {
    & a {
      color: #000;
      text-decoration: none;
      margin-left: 20px;
      & article {
        border-radius: 12px;
        padding: 2px;
        & img {
          height: 60px;
          width: 280px;
          border-radius: 4px;
          box-shadow: 2px 2px 15px 2px #ddd;
        }
      }
    }
  }
}
