.h2 {
    font-size: 30px;
    text-decoration: underline;
    margin: 80px 0px 80px 0px;
}

.sec {
    display: flex;
    width: 70vw;
    align-items: center;

    & a {
        color: #000;
        text-decoration: none;
        width: 300px;
        margin-left: 20px;

        & article {
            border-radius: 12px;
            padding: 8px;

            & img {
                height: 380px;
                width: 280px;
                border-radius: 14px;
            }
        }
    }
}

@media (width < 800px) {
    .sec {
        overflow: scroll;
        width: 100vw;
        gap: 8px;

        & article {
            width: 300px;
        }
    }
}