---
import Style from "./style.module.css";
import Skill from "../Skill/index.astro";
import About from "../About/index.astro";
import Proyect from "../Proyect/index.astro";
import Design from "../Design/index.astro";
---

<main id={Style.main}>
  <About />
  <Skill />
  <!---- <Proyect /> -->
  <!--?-- <Design /-->
</main>
