#main {
    padding:60px;
    margin-top:80px;
}
@media (width < 800px) {
    #main {
        display: flex;
        place-content: center;
        flex-direction: column;
        padding: 20px;
    }
}
