#main {
  /*margin: 0px 160px 0px 160px;*/
}

@media (width < 800px) {
  #main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
  }
}
