---
import Style from "./style.module.css";
import "../../style/global.css";
---

<div class={Style.about}>
  <h2 class="h2">Sobre mi</h2>
  <section>
    <p>
      Hola soy Kaleth, un desarrollador web con experiencia en el desarrollo de
      aplicaciones web modernas y escalables. Me apasiona crear soluciones
      innovadoras y eficientes para resolver problemas complejos. Con
      habilidades en HTML, CSS, JavaScript y frameworks como React , estoy
      comprometido a entregar proyectos de alta calidad que superen las
      expectativas de los clientes. Mi enfoque se centra en la colaboración, la
      comunicación efectiva y la mejora continua para garantizar el éxito de
      cada proyecto en el que trabajo.
    </p>
  </section>
</div>
