---
import Style from "./style.module.css";
---

<h2>#Sobre mi</h2>

<section class={Style.sec}>
  <p>
    Desarrollador freelance con seis años de experiencia en el sector,
    incluyendo tres años como desarrollador full-stack.
  </p>
  <p>
    Mi conjunto de habilidades incluye la creación de servidores y el desarrollo
    de páginas web, utilizando una variedad de frameworks. Actualmente, me
    encuentro cursando la carrera de Ingeniería de Sistemas, manteniendo una
    disponibilidad de ocho horas diarias para trabajar.
  </p>
  <p>
    Mi experiencia en esta industria se ha fundamentado principalmente en un
    enfoque de aprendizaje autodidacta.
  </p>
</section>
