---
import Style from "./style.module.css";
import "../../style/global.css";
---

<div class={Style.about}>
  <h2 class="h2">Sobre mi</h2>
  <section>
    <p>
      Desarrollador de software freelance con 6 años de experiencia en proyectos
      para clientes y productos digitales, incluyendo 3 años como desarrollador
      Full-Stack. He trabajado en el diseño, desarrollo y despliegue de
      aplicaciones web, creando APIs y servidores, integraciones con bases de
      datos y construcción de interfaces web. Me caracterizo por ser
      autodidacta, orientado a resultados y con foco en escribir código
      mantenible, documentar y entregar funcionalidades listas para producción .
    </p>
    <p>
      Desarrollador de software freelance con 6 años de experiencia en proyectos
      para clientes y productos digitales, incluyendo 3 años como desarrollador
      Full-Stack. He trabajado en el diseño, desarrollo y despliegue de
      aplicaciones web, creando APIs y servidores, integraciones con bases de
      datos y construcción de interfaces web. Me caracterizo por ser
      autodidacta, orientado a resultados y con foco en escribir código
      mantenible, documentar y entregar funcionalidades listas para producción .
    </p>
    <p>
      Desarrollador de software freelance con 6 años de experiencia en proyectos
      para clientes y productos digitales, incluyendo 3 años como desarrollador
      Full-Stack. He trabajado en el diseño, desarrollo y despliegue de
      aplicaciones web, creando APIs y servidores, integraciones con bases de
      datos y construcción de interfaces web. Me caracterizo por ser
      autodidacta, orientado a resultados y con foco en escribir código
      mantenible, documentar y entregar funcionalidades listas para producción .
    </p>
  </section>
</div>
