.about {
  height: 100dvh;

  & section {
    margin-left: 20px;
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    flex-direction: column;
    font-size: 16px;
    & p {
      letter-spacing: 3px;
      color: #0e3543;
    }
  }
}

@media (width < 800px) {
  .about {
    height: 100dvh;
  }
}
