.about {
  height: 100dvh;
  & h2 {
    font-size: 35px;
  }

  & section {
    display: flex;
    height: 80%;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    & p {
      letter-spacing: 2px;
      color: #0e3543;
    }
  }
}

@media (width < 800px) {
  .about {
    height: 100dvh;
  }
}
