.about {
  height: 100dvh;
  background: #000;
  & h2 {
    color: #fff;
  }
  & section {
    margin: 0px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    flex-direction: column;
    font-size: 16px;
    & p {
      color: #fff;
      letter-spacing: 3px;
      line-height: 30px;
    }
  }
}

@media (width < 800px) {
  .about {
    height: 100dvh;
  }
}
