---
import Style from "./style.module.css";
import "../../style/global.css";
---

<div class={Style.skill}>
  <h2 class="h2">Habilidades</h2>
  <article>
    <section class={Style.react}>
      <a href="">
        <p>reactjs</p>
      </a>
    </section>
    <section class={Style.bun}>
      <a href="">
        <p>bun</p>
      </a>
    </section>
    <section>
      <a href="">
        <p>astrojs</p>
      </a>
    </section>
    <section>
      <a href="">
        <p>javascript</p>
      </a>
    </section>
    <section>
      <a href="">
        <p>node</p>
      </a>
    </section>
    <section>
      <a href="">
        <p>nextjs</p>
      </a>
    </section>
    <section>
      <a href="">
        <p>mysql</p>
      </a>
    </section>
    <section>
      <a href="">
        <p>github</p>
      </a>
    </section>
    <section>
      <a href="">
        <p>elysia</p>
      </a>
    </section>
    <section>
      <a href="">
        <p>express</p>
      </a>
    </section>
    <section>
      <a href="">
        <p>typescript</p>
      </a>
    </section>
    <section>
      <a href="">
        <p>prisma</p>
      </a>
    </section>
    <section>
      <a href="">
        <p>figma</p>
      </a>
    </section>
    <section>
      <a href="">
        <p>fastapi</p>
      </a>
    </section>
    <section>
      <a href="">
        <p>docker</p>
      </a>
    </section>
    <section>
      <a href="">
        <p>python</p>
      </a>
    </section>
  </article>
</div>
