.skill {
  height: 100dvh;
  background: #f5f0d2;

  & article {
    margin-left: 40px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    & section {
      border-radius: 20px;
      transition: filter ease 1.2s;
      & a {
        padding: 20px;
        display: flex;
        font-size: 20px;
        height: 20px;
        place-items: center center;
        gap: 80px;
        color: #000;
        text-decoration: none;
      }
    }
  }
}

@media (width < 800px) {
  .skill {
    height: 100dvb;
    & article {
      grid-template-columns: repeat(2, 1fr);
      & section {
        width: 100%;
      }
    }
  }
}
