---
import Style from './style.module.css'
---

<section class={Style.card}>
    <h3>Taskly</h3>
    <img src="/img/diseño/taskly.png" alt="">
    <a href="https://www.figma.com/design/atGCpWR3MnQo0gC9FfU41h/taskly?node-id=0-1&t=NXJoHl6akr7jLOuh-1" target="_blank">Diseño en figma</a>
</section>