---
import Style from "./style.module.css";
---

<div>
  <h2>#Diseños</h2>
  <div class={Style.div_cards}>
    <section class={Style.card}>
      <img src="/img/diseño/taskly.png" alt="" />
      <a
        href="https://www.figma.com/design/atGCpWR3MnQo0gC9FfU41h/taskly?node-id=0-1&t=NXJoHl6akr7jLOuh-1"
        target="_blank">Diseño en figma</a
      >
    </section>

    <section class={Style.card}>
      <img src="/img/diseño/chanllege.png" alt="" />
      <a
        href="https://www.figma.com/design/laLByBmvIPgEj3hKwSMXEn/Picture-chanllege?t=Q6qrpCwf9ZIWySE1-1"
        target="_blank">Diseño en figma</a
      >
    </section>
  </div>
</div>
