.div_cards {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  gap: 10px;

  & img {
    width: 400px;
  }
}

@media (width < 800px) {
  .div_cards {
    flex-direction: column;
  }

  .card {
    & img {
      width: 200px;
    }
  }
}