
.div_cards {
  display:flex;
  flex-direction: row;
}
.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    gap: 10px;
    & img {
        border-radius: 10px;
        width: 600px;
    }
}
