---
import Style from "./style.module.css";
//import "../../style/global.css";
---

<div class={Style.design}>
  <h2 class="h2">Diseños</h2>
  <div>
    <a
      href="https://www.figma.com/design/IfTiyUdVMAKwVebAxBYhpI/crossmatch?node-id=0-1&t=NmRUAVBIroxjIBOT-1"
      target="_blank"
    >
      <section>
        <h4>Crossmatch</h4>
        <img src="/img/design/crossmatch.png" alt="" />
      </section>
    </a>
    <a
      href="https://www.figma.com/design/laLByBmvIPgEj3hKwSMXEn/Picture-chanllege?node-id=0-1&t=1MOhrBSUsMh518sp-1"
      target="_blank"
    >
      <section>
        <h4>Picture chanllege</h4>
        <img src="/img/design/chanllege.png" alt="" />
      </section>
    </a>
  </div>
</div>
