.design {
  height: 100dvh;
  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    & a {
      text-decoration: none;
    }
    & a:nth-child(1) {
      /* nth-child -> seleceiona el hijo que tu quieras */
      & section {
        & img {
          box-shadow: 2px 0px 16px 2px #4a83fd;
        }
      }
    }
    & section {
      margin: 50px;
      & h4 {
        text-align: center;
        font-size: 26px;
        font-style: none;
        color: #000;
      }

      & img {
        border-radius: 100%;
        height: 180px;
        image-orientation: from-image;
        width: 180px;
        box-shadow: 2px 0px 20px 2px #9558ab99;
      }
    }
  }
}
