---
import Layout from "../../layouts/Layout.astro"
import IconsSvg from '../../../public/img/404.svg'
import Style from './style.module.css'
---

<Layout>
    <main class={Style.main}>
        <p>x</p>
        <IconsSvg/>
        <h1>Esta pagina no se encuentra :(</h1> 
        <h2>Error : 404</h2>
    </main> 
</Layout>