
<section>
    <p>Me concidero una persona que nunva quieres para de aprender asi que simpre estoy.</p>
    <p>Escuchando nuevas opiniones y todos los dia trato de aprender cosas nuevas</p>
</section>
