.nav {
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    place-items: center center;
    place-content: center center;
    text-align: center;
    flex-direction: column;
    grid-column: 1;
    border-radius: 0px 22px 22px 0px;
    color: #000;

    & .sec_menu {
        display: flex;
        width: 100%;
        place-content: flex-end;
        margin: 20px;

        & svg {
            cursor: pointer;
        }
    }

    & .sec_img {
        margin: 20px;

        & img {
            width: 180px;
            height: 180px;
            border-radius: 50%
        }

    }

    & .sec_items {
        display: flex;
        place-content: center;
        gap: 20px;

        & a {
            padding: 8px;
            color: #000;
            text-decoration: none;
            background: #fff;
            border-radius: 16px;
            display: flex;
            place-items: center;
            gap: 8px;
            height: 20px;
        }
    }

    & .sec_a {
        margin: 12px;

        & a {
            color: #fff;
        }
    }

    & .sec_link_redes {
        display: flex;
        place-items: center center;
        place-content: center center;
        font-size: 16px;
        gap: 6px;
        margin-bottom: 80px;

        & a {
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }
    }

    & .sec_number {
        margin-top: 80px;
    }
}

@media (width < 800px) {
    .nav {
        height: 800px;
        width: 100%;
        border-radius: 0px 0px 40px 40px;
        box-shadow: -1px 6px 20px 0px #000;
    }
}